.h3_design_block{
	background:#E1E1E1;
	padding:8px;
	width:31%;
}

.row img{
	height:200px;
}
.column {
  float: left;
  width: 32%;

  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

figure {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    margin-top: 30PX;
    margin-bottom: 30PX;
}

figure figcaption {
    background-color: #222;
    color: #fff;
    padding: 3px;
    text-align: center;
}